html {
    height: 100%;
}

body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background: #D9E3FD;
    animation-name: background-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes background-change {
  0%   {background-color:#cdb4db;}
  20%  {background-color:#ffc8dd;}
  40%  {background-color:#ffafcc;}
  60%  {background-color:#bde0fe;}
  80% {background-color:#a2d2ff;}
  100% {background-color:#cdb4db;}
}

.avatar {
    width: 150px;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background: #D1D2F9;
    color: #576490;
    border-bottom: 6px solid #576490;
    border-left: 6px solid #576490;
    border-right: 1px solid #576490;
    border-top: 1px solid #576490;    
    border-radius: 10px;  
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

